* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-size: 16px;
}

.container{
  margin: 0 auto;
  border-bottom: 1px solid #D6D6D6;
  margin-bottom: 20px;
  width: 375px;
  border: 1px solid #D6D6D6;
}

.first-section{
  border-bottom: 1px solid #D6D6D6;
}

.search-container{
  padding: 10px 20px;
  gap: 15px;
  margin-bottom: 21px;
}

input::placeholder{
  text-align: center;
  font-weight: 510;
  font-size: 14px;
  line-height: 23px;
  color: #666666;
  background-image: url("./images/search.png");
  background-repeat: no-repeat;
  background-position: 45px;
}

.search-bar{
  padding: 13px 15px 12px;
  gap: 5px;
  width: 335px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 3px 2px rgb(0 0 0 / 3%);
  border-radius: 100px;
}

.card{
  margin: 0 auto;
  width: 335px;
  height: 320px;
  border: 1px solid #D6D6D6;
  filter: drop-shadow(2.98404px 3.97872px 3.97872px rgba(0, 0, 0, 0.07));
  border-radius: 11px;
  margin-bottom: 28px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 35px 20px 20px;
  gap: 10px;
  width: 335px;
  height: 170px;
}

.card-img{
  width: 100%;
  height: 46.87%;
  object-fit: cover;
  border-radius: 11px 11px 0 0;
}

.card-img2{
  border-radius: 7px 7px 0 0;
  width: 335px;
  height: 103px;
  object-fit: cover;
}

.title{
  font-weight: 510;
  font-size: 18px;
  line-height: 22px;
}

.caption{
  font-style: normal; 
  font-size: 14px;
  line-height: 20px;
  display: flex;
  color: #666666;
}

.btn{
  height: 30px;
  background: #EC4C60;
  border-radius: 100px;
  color: #FFFFFF;
  border: none;
  padding: 0px 15px;
  font-size: 12px;
}

.btn:hover{
  transform: scale(1.1);
  transition: 0.4s;
  cursor: pointer;
}

.second-section{
  margin: 0 20px;
}

.title-second{
  margin: 20px 0 8px 0;
  font-weight: 590;
  font-size: 15px;
}

.content-second{
  padding: 20px;

}

.card-second{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 335px;
  height: 221px;
  border: 1px solid #D6D6D6;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  margin-bottom: 8px;
}

.title-second-card{
  font-weight: 510;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.caption-second{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.078px;
  color: #666666;
}

.link{
  color: black;
}

.rules, .cancel-change{
  display: flex;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;
  width: 335px;
  height: 51px;
  border: 1px solid #D6D6D6;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  justify-content: space-between;
  margin-bottom: 8px;
}

.rules-left, .cancel-left{
  display: flex;
  gap: 10px;
  align-items: center;
}

.the-rules, .cancel-text{
  font-weight: 510;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.btn-secundary{
  width: 54px;
  height: 30px;
  border: 1px solid #D6D6D6;
  border-radius: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #EC4C60;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.btn-secundary:hover{
  cursor: pointer;
  background-color: #EC4C60;
  color: white;
}

.m-b{
  margin-bottom: 20px;
}

.see-more{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.see-all{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #000000;
}

.right-arrow{
  cursor: pointer;
}

.carrousel {
  transition: all 0.4s ease;
  overflow: hidden;
}

.carrousel .grande {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 8px;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .puntos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  bottom: 10px;
}

.carrousel .punto {
  transition: all 0.4s ease;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  list-style-type:none;
  position: relative;
  bottom: 6px;
}

.carrousel .punto.activo {
  background: #000000;
}

@keyframes example {
  0%   {top: 0;}
  25%  {top: 200;}
  50%  {top: 300;}
  100% {top: 400;}
}

.options-travel{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px;
  position: absolute;
  width: 375px;
  height: 449px;
  top: 517px;
  bottom: 0px;
  background-color: green;
  border-radius: 11px 11px 0 0;
  background-color: #FFFFFF;
  display: none;
  animation-name: example;
  animation-duration: 1s;
}

.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 38px;
  width: 335px;
  height: 44px;
}

.head h2{
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.6px;
}

.head button:hover{
  cursor: pointer;
}

.options{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px;
  gap: 10px;
  width: 335px;
  height: 350px;
}

.opt{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 7px;
  width: 335px;
  height: 58px;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
}

.opt:hover{
  cursor: pointer;
  background-color: #EC4C60;
  color: white;
}

.opt h2{
  font-weight: 510;
  font-size: 20px;
  line-height: 18px;
}

.opt p{
  font-weight: 274;
  font-size: 20px;
  line-height: 18px;
  color: #0B2343;
}

.btn-travel{
  background: rgba(0, 0, 0, 0.1);
  background-color: #D6D6D6;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px; 
}

